*{
    font-family: Arial, Helvetica, sans-serif;
    /* borrar esto */
}

.barra-sup {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    background: linear-gradient(55deg, #122b7e, rgb(55, 55, 110));
}

.barra-sup h3{
    margin-left: 55px;
    color:white;
}

.barra-sup img{
    margin-right: 25px;
    margin-left: 35px;
    width: 85px; 
    height: 46px;
}

.tipoUsuario, .zonaDom, .kWh{
    align-items: center;
    text-align: center;
    place-items: center;
}

.tipoUsuario h3{
    border: 1px black solid;
    margin-right: 450px;
    margin-left: 450px;
    border-radius: 10px;
    background: linear-gradient(55deg, #122b7e, rgb(55, 55, 110));   
    color:white;
}

.tipoUsuario input[type="number"]{
    text-align: center;
    border-radius: 20px 10px 20px 10px;
    height: 25px;
    width: 125px;
}

.tipoUsuario input[type="submit"]{
    width: 95px;
    height: 35px;
    border-radius:35px;
    border: 1px black solid;
    background: linear-gradient(55deg, #122b7e, rgb(55, 55, 110));
    color:white;
}