*{
    font-family: Arial, Helvetica, sans-serif;
    /* borrar esto */
}

.barra-sup {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    background: linear-gradient(5deg, rgb(3, 62, 255), rgb(255, 255, 255));
}

.barra-sup h3{
    margin-left: 55px;
    color:white;
}

.barra-sup img{
    margin-right: 25px;
    margin-left: 35px;
    width: 65px; 
    height: 46px;
}

.tipoUsuario, .zonaDom, .kWh{
    align-items: center;
    text-align: center;
    place-items: center;
}

.tipoUsuario h3{
    border: 2px solid;
    margin-right: 450px;
    margin-left: 450px;
    border-color:rgb(0, 0, 0);
    border-radius: 10px;
    background: linear-gradient(5deg, rgb(3, 62, 255), rgb(255, 255, 255));    
    color:black;
}

.tipoUsuario input[type="submit"]{
    width: 95px;
    height: 35px;
    border-radius:35px;
    border-style: solid;
    background: linear-gradient(5deg, rgb(3, 62, 255), rgb(255, 255, 255));
    color:black;
}