*{
    font-family: Arial, Helvetica, sans-serif;
    /* borrar esto */
}

.barra-sup {
    position: relative;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    background: linear-gradient(55deg, #122b7e, rgb(55, 55, 110));
    margin-bottom: 30px;
}

.barra-sup h3{
    margin-left: 55px;
    color:white;
}

.barra-sup img{
    margin-right: 25px;
    margin-left: 35px;
    width: 85px; 
    height: 46px;
}
.menu{

    box-shadow: 2px 5px 10px #122b7e;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    position: absolute;
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 0.25s; 
    background-color: #d7dce0
}
.menu:hover{
    transform: translateY(-15px); /* Esta funcion permite cambiar la posicion del elemento*/
    box-shadow: 0 12px 16px rgba(0, 0, 0, 2);
}
#tipoUsu, #zonaDom, #kWh{
    text-align: center;
    border-radius: 20px 10px 20px 10px;
    height: 25px;
    width: 125px;
}

.tipoUsuario h3{
    border: 1px black solid;
    margin-right: 260px;
    margin-left: 260px;
    border-radius: 10px;
    background: linear-gradient(55deg, #122b7e, rgb(55, 55, 110));   
    color:white;
}

.tipoUsuario input[type="number"]{
    text-align: center;
    border-radius: 20px 10px 20px 10px;
    height: 25px;
    width: 125px;
}

.tipoUsuario select{
    text-align: center;
    border-radius: 20px 10px 20px 10px;
    height: 25px;
    width: 125px;
    border-color:black;
}

.botoncito{
    width: 95px;
    height: 35px;
    border-radius:35px;
    border: 1px black solid;
    background: linear-gradient(55deg, #122b7e, rgb(55, 55, 110));
    color:white;
    margin-bottom: 20px;
}

.resultadoFinal{
    align-items: center;
    text-align: center;
    place-items: center;
    margin-left: 325px;
    border: green solid;
    background-color: green;
    color:white;
    width: 95px;
    border-radius: 25px;
}